---
layout: home
---

<div class="bg-color_primary">
  <div class="container topmain">
    <div class=" row topmain__wrap d-flex align-items-center">
      <div class="topmain__main col-12 col-md-5">
        <h1 class="font_Montserrat topmain__copy">Monaca UG<br>Conference<br>2019</h1>
        <p class="font_Montserrat topmain__date">2019.10.26 <span>12:00～18:30</span></p>
      </div>
      <div class="topmain__sub col-12 col-md-7">
        <p class="topmain__ph"><img src="img/mainimg.png" alt="" class="img-fluid w-100"></p>
      </div>
    </div>
  </div>
</div><!-- //bg-color_primary -->

<a name="about"></a>
<div class="bg-color_secondary">
  <div class="container py-5"s>
    <div class="row d-flex align-items-center">
      <div class="col-12 col-sm-5">
        <h2 class="font_Montserrat text-white"><span class="color">A</span>BOUT<br>CONFERENCE</h2>
        <p class="text-white lh-20">MonacaUG CONFERENCE 2019（略称モナカン2019） は、MonacaはもちろんAngular/React/Vue.jsなどのフロントエンドフレームワーク、最新のJavaScriptテクノロジー、ハイブリッドアプリについて学べるワンデーカンファレンスです</p>
        <p><a class="btnBuy" href="https://monacaug.connpass.com/event/139931/">チケットを購入</a></p>
      </div>
      <div class="col-12 col-sm-6 offset-md-1">
        <p class=""><img src="img/ph01.png" alt="ABOUT CONFERENCE" class="img-fluid"></p>
      </div>
    </div>
  </div>
</div><!-- //bg-color_secondary -->


<div class="bg-color_black">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-sm-12 col-md-4">
        <h2 class="font_Montserrat text-white text-center text-sm-left">Call for paper<br><span class="color display-5">登壇者募集!</span></h2>
      </div>
      <div class="col-12 col-sm-8 col-md-5 text-white lh-20">Monaca CONFERENCE 2019はセッションを公募します。ぜひ、あなたの経験を共有してください！</div>
      <div class="col-12 colsm-4 col-md-3">
        <p class="text-right"><a class="btnBuy" href="https://www.papercall.io/monacan2019">CFPを送る</a></p>
      </div>
    </div>
  </div>
</div><!-- //bg-color_black -->

<a name="speaker"></a>
{% include speakers.html %}

{% comment %}
<a name="schedule"></a>
{% include schedule.html %}
{% endcomment %}

<a name="sponsor"></a>
{% include sponsors.html %}

<a name="access"></a>
{% include access.html %}

{% include organizers.html %}
