---
layout: home
---

<div class="bg-color_primary">
  <div class="container topmain">
    <div class=" row topmain__wrap d-flex align-items-center">
      <div class="topmain__main col-12 col-md-5">
        <h1 class="font_Montserrat topmain__copy">Monaca UG<br>Conference<br>2019</h1>
        <p class="font_Montserrat topmain__date">2019.10.26 <span>12:00～18:30</span></p>
      </div>
      <div class="topmain__sub col-12 col-md-7">
        <p class="topmain__ph"><img src="img/mainimg.png" alt="" class="img-fluid w-100"></p>
      </div>
    </div>
  </div>
</div><!-- //bg-color_primary -->

<a name="about"></a>
<div class="bg-color_secondary">
  <div class="container py-5"s>
    <div class="row d-flex align-items-center">
      <div class="col-12 col-sm-5">
        <h2 class="font_Montserrat text-white"><span class="color">A</span>BOUT<br>CONFERENCE</h2>
        <p class="text-white lh-20">MonacaUG CONFERENCE 2019（略称モナカン2019） は、Monacaのアプリ事例、教育、アプリ開発における汎用的なテクニックまで幅広く学べるワンデーカンファレンスです</p>
        <p><a class="btnBuy" href="https://monacaug.connpass.com/event/139931/">チケットを購入</a></p>
      </div>
      <div class="col-12 col-sm-6 offset-md-1">
        <p class=""><img src="img/ph01.png" alt="ABOUT CONFERENCE" class="img-fluid"></p>
      </div>
    </div>
  </div>
</div><!-- //bg-color_secondary -->


<a name="speaker"></a>
{% include speakers.html %}

<a name="schedule"></a>
{% include schedule.html %}

<a name="sponsor"></a>
{% include sponsors.html %}

<a name="access"></a>
{% include access.html %}

{% include organizers.html %}
