<div class="bg-color_black">
<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center">
    <h2 class="font_Montserrat text-white mb-4"><span class="color">A</span>CCESS</h2>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-12">
      <h3 class="text-center text-white">東京 日本橋タワー</h3>
      <p class="text-center text-white">サイボウズ社, 東京都中央区日本橋2-7-1 日本橋タワー 27F</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.798328902655!2d139.7720724510492!3d35.6819674374415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018895634a3d487%3A0xe67a55fa52247d0!2z5p2x5Lqs5pel5pys5qmL44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1558400907225!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;width:100%;height:auto;min-height:30em;border:none;" allowfullscreen=""></iframe>
    </div>
  </div><!-- row -->
</div><!-- container -->
</div><!-- //bg-color_black -->
