<div class="bg-color_black">
<div class="container py-5"><div class="row">

<div class="col-12 col-md-6">
  <div class="column mb-5">
    <h2 class="font_Montserrat text-white text-center mb-4"><span class="color">M</span>ONACA UG</h2>
    <p class="text-left text-white lh-20">
      Monacaを利用する方々が楽しく、役立つ情報をシェアできるコミュニティです。Monacaをすでに使っている方、興味のある方、Monacaを好きな方ならどなたでもご参加できます。みんなで「体験談、成功例、工夫していること」を共有することで、MonacaユーザーがもっとMonacaを使いやすく、Monacaを好きになれる場所を目指しています。
    <p class="text-left h1">
      <a href="https://www.facebook.com/groups/1791897204474458/?ref=bookmarks" target="_blank" class="text-white"><i class="fab fa-facebook-square"></i></a>
      <a href="https://github.com/MonacaUG/" target="_blank" class="text-white"><i class="fab fa-github-square"></i></a>
      <a href="https://monacaug.mobi" target="_blank" class="text-white"><i class="fas fa-globe"></i></a>
    </p>
  </div><!-- /column -->

  <div class="column">
    <h2 class="font_Montserrat text-white text-center mb-4"><span class="color">G</span>ET UPDATE</h2>
    <form method="POST" action="">
        <div class="form-group">
            <input type="text" class="form__text w-100" placeholder="メールアドレス">
        </div>
        <button class="btn bg-primary text-white br-100 px-4" type="button">送信 <i class="fas fa-chevron-right"></i></button>
    </form>
  </div><!-- /column -->
</div><!-- /col -->


<div class="col-12 col-md-6">
  <div class="column">
  <h2 class="font_Montserrat text-white text-center mb-4"><span class="color">C</span>ONTACT</h2>
  <form>
      <div class="form-group"><input type="text" name="email" class="form__text w-100" placeholder="メールアドレス※"></div>
      <div class="form-group"><input type="text" name="company-name" class="form__text w-100" placeholder="会社名"></div>
      <div class="form-group"><input type="text" name="name" class="form__text w-100" placeholder="お名前"></div>
      <div class="form-group"><textarea type="text" name="message" class="form__textarea w-100" placeholder="メッセージ"></textarea></div>
      <button type="submit" class="btn text-white bg-primary br-100 px-4">送信 <i class="fas fa-chevron-right"></i></button>
  </form>
  </div><!-- /column -->
</div><!-- /col -->

</div></div><!-- /container -->
</div><!-- //bg-color_black -->



<div class="bg-white">
<div class="container"><div class="row py-3">
<div class="col-12 text-center">&copy; MonacaUG.</div>
</div></div><!-- row, container-fluid -->
</div><!-- //bg-white -->


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>
