<header class="header"><div class="header__wrap">
  <h1 class="header__logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/icon.png" alt="Monaca"></a></h1>
  <div class="header__spnav"><i class="fas fa-bars"></i></div>
  <nav class="gnavi">
    <ul class="gnavi__lists">
        <li class="gnavi__item"><a href="/conference-2019/">ホーム</a></li>
      <li class="gnavi__item"><a href="/conference-2019/#about">About</a></li>
      <li class="gnavi__item"><a href="/conference-2019/#speaker">スピーカー</a></li>
      <li class="gnavi__item"><a href="/conference-2019/#schedule">スケジュール</a></li>
      <li class="gnavi__item"><a href="/conference-2019/#sponsor">スポンサー</a></li>
      <li class="gnavi__item"><a href="/conference-2019/#access">アクセス</a></li>
      <li class="gnavi__item"><a href="/blog">ブログ</a></li>
    </ul>
    <p class="gnavi__contact"><a href="https://monacaug.connpass.com/event/139931/">チケット購入</a></p>
  </nav><!-- gnavi -->
</div></header><!-- header -->
