<div class="bg-color_black">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="font_Montserrat text-white mb-5"><span class="color">S</span>HEDULE</h2>
      </div>
      <div class="col-12 text-center">
        <h3 class="font_Montserrat text-white mb-5">トラック1、2合わせて13セッションあります！</h3>
      </div>
    </div><!-- row -->

    <ul class="nav nav-fill nav-tabs-extend">
        <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">トラック1</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">トラック2</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">ワークショップ</a></li> -->
      </ul>
      
<div class="tab-content schedule_extend">
  <div id="tab1" class="tab-pane active">
    {% for session in site.data.sessions %}
      {% if session.track == '3' or session.track == '1' %}
        {% include session.html session=session %}
      {% endif %}
    {% endfor %}
  </div><!-- //tab -->

  <div id="tab2" class="tab-pane">
    {% for session in site.data.sessions %}
      {% if session.track == '3' or session.track == '2' %}
        {% include session.html session=session %}
      {% endif %}
    {% endfor %}
  </div><!-- //tab -->
  <!--
  <div id="tab3" class="tab-pane">
  </div>
  -->
</div><!-- tab-content -->
</div><!-- container -->
</div><!-- //bg-color_black -->
