<div class="bg-color_secondary">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="font_Montserrat text-center text-white mb-5"><span class="color">S</span>PEAKER</h2>
      </div>
    </div><!-- row -->
    <div class="speaker__flex">
      {% if site.data.speakers.size == 0 %}
      <div class="col-12">
        <h2 class="font_Montserrat text-center text-white mb-12"><span class="color">W</span>ILL BE ANNOUNCED!</h2>
      </div>
      {% else %}
        {% for speaker in site.data.speakers %}
          <div class="speaker__item">
            <a href="speakers/{{ speaker['id'] }}/" class="speaker__link"><img class="img-fluid speaker__ph rounded-lg" src="./img/speakers/{{ speaker['id'] }}.jpg" alt="{{ speaker['display_name'] }}"></a>
            <div class="speaker__detail">
              <p class="speaker__name">{{ speaker['display_name'] }}</p>
              <p class="speaker__sns">
                {% if speaker['twitter'] != "" }%}
                <a href="https://twitter.com/{{ speaker['twitter'] }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
                {% endif %}
                {% if speaker['facebook'] != "" }%}
                <a href="https://fb.me/{{ speaker['facebook'] }}" target="_blank"><i class="fab fa-facebook-square"></i></a>
                {% endif %}
                {% if speaker['github'] != "" }%}
                <a href="https://github.com/{{ speaker['gitHub'] }}" target="_blank"><i class="fab fa-github-square"></i></a>
                {% endif %}
                {% if speaker['web'] != "" }%}
                <a href="{{ speaker['web'] }}" target="_blank"><i class="fas fa-globe"></i></a>
                {% endif %}
              </p>
            </div><!-- speaker__detail -->
          </div><!-- speaker -->
        {% endfor %}
        <div class="col-12">
          <h2 class="font_Montserrat text-center text-white mb-12"><span class="color">W</span>ILL BE ANNOUNCED MORE!</h2>
        </div>
      {% endif %}
</div><!-- row -->

</div><!-- container -->
</div><!-- //bg-color_secondary -->
