<div class="bg-color_secondary">
<div class="container py-5">
<div class="row">
<div class="col-12 text-center">
    <h2 class="font_Montserrat text-white mb-5"><span class="color">S</span>PONSOR</h2>
  </div>
</div><!-- row -->

<div class="col-12">
  <h2 class="font_Montserrat text-center text-white mb-12"><span class="color">ス</span>ポンサーに興味がありますか？ぜひ<a href="#contact">お問い合わせください</a>！</h2>
</div>

{% assign platinums = site.data.sponsors | where: "type", "platinum" %}
{% if platinums.size > 0 %}
<div class="row">
  <div class="col-12">
    <h3 class="font_Montserrat text-center text-white mb-12">プラチナスポンサー
    </h3>
  </div>
  {% for sponsor in platinums %}
  <div class="col-12 col-sm-6">
    <a href="{{ sponsor.url }}" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="./img/sponsors/{{ sponsor.id }}.png" alt="{{ sponsor.name }}">
    <p class="text-center text-white">{{ sponsor.name }}</p>
    </a>
  </div>
  {% endfor %}
</div><!-- row -->
{% endif %}

{% assign golds = site.data.sponsors | where: "type", "gold" %}
{% if golds.size > 0 %}
<div class="row">
  <div class="col-12">
    <h3 class="font_Montserrat text-center text-white mb-12">ゴールドスポンサー
    </h3>
  </div>
  {% for sponsor in golds %}
  <div class="col-12 col-sm-4">
    <a href="{{ sponsor.url }}" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="./img/sponsors/{{ sponsor.id }}.png" alt="{{ sponsor.name }}">
    <p class="text-center text-white">{{ sponsor.name }}</p>
    </a>
  </div>
  {% endfor %}
</div><!-- row -->
{% endif %}

{% assign logos = site.data.sponsors | where: "type", "logo" %}
{% if logos.size > 0 %}
<div class="row">
  <div class="col-12">
    <h3 class="font_Montserrat text-center text-white mb-12">ロゴスポンサー
    </h3>
  </div>
  {% for sponsor in logos %}
  <div class="col-12 col-sm-3">
    <a href="{{ sponsor.url }}" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="./img/sponsors/{{ sponsor.id }}.png" alt="{{ sponsor.name }}">
    <p class="text-center text-white">{{ sponsor.name }}</p>
    </a>
  </div>
  {% endfor %}
</div><!-- row -->
{% endif %}

{% assign venues = site.data.sponsors | where: "type", "venue" %}
{% assign sponsor = venues[0] %}

<div class="row  justify-content-center">
  <div class="col-12">
    <h3 class="font_Montserrat text-center text-white mb-12">ベニュースポンサー</h3>
  </div>
  <div class="col-4">
    <a href="{{ sponsor.url }}" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="./img/sponsors/{{ sponsor.id }}.png" alt="{{ sponsor.name }}">
    <p class="text-center text-white">{{ sponsor.name }}</p>
    </a>
  </div>
</div><!-- row -->

<!--
<div class="row">
  <div class="col-6 col-sm-4">
    <a href="#" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
    <p class="text-center text-white">スポンサー名スポンサー名</p>
    </a>
  </div>
  <div class="col-6 col-sm-4">
    <a href="#" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
    <p class="text-center text-white">スポンサー名スポンサー名</p>
    </a>
  </div>
  <div class="col-6 col-sm-4">
    <a href="#" target="_blank" class="d-block">
    <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
    <p class="text-center text-white">スポンサー名スポンサー名</p>
    </a>
  </div>
</div>


<div class="row">
    <div class="col-4 col-sm-3">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="col-4 col-sm-3">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="col-4 col-sm-3">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="col-4 col-sm-3">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
  </div>


  <div class="row sponsorList">
    <div class="sponsorList__item">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="sponsorList__item">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="sponsorList__item">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="sponsorList__item">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
    <div class="sponsorList__item">
      <a href="#" target="_blank" class="d-block">
      <img class="img-fluid rounded-lg" src="http://placehold.jp/800x800.png" alt="スポンサー名">
      <p class="text-center text-white">スポンサー名スポンサー名</p>
      </a>
    </div>
  </div>
-->
</div><!-- container -->
</div><!-- //bg-color_secondary -->
