<div class="row">
  <div class="col-12 text-center">
    <h2 class="font_Montserrat text-white mb-5"><span class="color">W</span>ORKSHOP</h2>
  </div>
  <div class="col-12 text-center">
    <h3 class="font_Montserrat text-white mb-5">ワークショップは誰でも参加できます（PCなど要持ち込みです）</h3>
  </div>

<div class="tab-content schedule_extend">
  <div class="scheduleitem">
    <div class="scheduleitem__time">15:45</div>
    <div class="scheduleitem__ph">
      <img src="./img/sponsors/ncmb.png" alt="ニフクラ mobile backend" width="80">
    </div>
    <div class="scheduleitem__detail">
      <p class="scheduleitem__text">
        Monaca x ニフクラ mobile backendで、クラウド連携アプリ開発ハンズオン！
      </p>
      <p class="scheduleitem__auther">
        Monacaユーザー支持率No.1(※)のクラウドサービス、ニフクラ mobile backendを活用してクラウド連携アプリを爆速で開発しましょう！<br />
        今回のセッションでは、実際に簡単なアプリを一から作りながらクラウド連携の基礎を学んでいただけます。<br />
        最新版のGoogle Chrome、HTML／JavaScriptの基本的なスキルがあれば体験いただけますので、お気軽にご参加<br />ください！
        <br />
        ※ <a href="https://press.monaca.io/ryo/2001" target="_blank">Monacaをご利用のアプリ開発者の皆様の利用技術・ツールに関するアンケートレポート</a><br />
        <br />
        <br />
        <strong>【必要物】</strong>
        <ul>
          <li>WindowsもしくはMacを搭載したPC</li>
          <li>最新版のGoogle Chrome<br />
            インストールされていない方は、下記URLから事前のインストールをお願いします
            <a href="https://www.google.com/intl/ja_jp/chrome/" target="_blank">https://www.google.com/intl/ja_jp/chrome/</a>
          </li>
          <li>Monacaアカウント<br />
            下記URLから、事前に登録をお願いします<br />
            <a href="https://ja.monaca.io/" target="_blank">https://ja.monaca.io/</a>
          </li>
          <li>ニフクラ mobile backendアカウント<br />
          下記URLから、事前に登録をお願いします<br />
          <a href="https://mbaas.nifcloud.com/signup.htm" target="_blank">https://mbaas.nifcloud.com/signup.htm</a>
          </li>
        </ul>
        <strong>【必要スキル】</strong>
        <ul>
          <li>HTML/JavaScriptの基本的なスキル</li>
          <li>Monaca(クラウドIDE)の基本的な操作スキル</li>
        </ul>
        <strong>【プロフィール】</strong>
        <ul>
          <li>名前：佐々木 大樹</li>
          <li>所属：富士通クラウドテクノロジーズ株式会社</li>
          <li>紹介：ニフクラ mobile backendの企画を担当。日々難化するアプリ開発の敷居を少しでも下げるため、mobile backendの拡販に注力している。</li>
        </ul>
      </p>
    </div>
  </div>
</div>
